body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

header {
  background: #f59a00;
  color: white;
  text-align: center;
  padding-top: 64px;
}

header h1 {
  margin: 0;
}

header img {
  width: 280px;
  /* ヘッダー画像の下の余白を消す */
  vertical-align: bottom;
}

.btn {
  text-decoration: none;
  background: #fff;
  color: #f59a00;
  /* 幅と高さの設定をしたい+続く画像を下に配置したい */
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.9;
}

/* contents */
.features img {
  width: 100%;
}

.features > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.features .container {
  margin: 0 32px;
}

.features section {
  padding-bottom: 64px;
}

/* members */
.members {
  background: #f2f2f2;
}

.members > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.members ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin: 0
}

.members img {
  width: 160px;
  border-radius: 50%;
}

.members h2 {
  font-size: 20px;
}

.members li {
  padding-bottom: 64px;
}

/* Call to action */
.call-to-action {
  background: #f59a00;
  color: #fff;
  text-align: center;
  padding: 64px 0;
}

.call-to-action h1 {
  font-weight: normal;
}

.call-to-action .btn {
  margin: 0 auto;
}

/* footer */
footer {
  padding: 64px 0;
  background: #323135;
  color: #98969c;
  text-align: center;
}

/* media query */
@media (min-width: 900px) {
  header .container {
    display: flex;
    /* 800px固定,中央揃え */
    width: 800px;
    margin: 0 auto;
  }

  header .info {
    width: 60%;
    /* 上下中央揃え(margin: auto;)でも可 */
    align-self: center;
  }

  header .pic {
    width: 40%;
  }

  .features .container {
    width: 800px;
    margin: 0 auto;
  }
  
  .features section {
    display: flex;
    /* infoとpicの間に余白を持たせる */
    justify-content: space-between;
  }

  /* infoとpicをテレコに表示 */
  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .features .pic {
    width: 50%;
  }
  
  .features .info {
    width: calc(50% - 32px);
    
  }

  .members ul {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .members li {
    width: 250px;
  }

}

